@font-face {
	font-family: "AGFriquer";
	src: url("fonts/AGFriquer-Roman.woff2") format("woff2"),
		url("fonts/AGFriquer-Roman.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
